﻿
@{
    ViewBag.Title = "Inventory Tracker";
    Layout = "~/Areas/App/Views/_LayoutMain.cshtml";
    <meta data-name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" property="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://rawgit.com/dwmkerr/angular-modal-service/master/dst/angular-modal-service.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
}

@section styles{
    @Styles.Render("~/Content/bootstrap.css")
}
    <div>
        <h2>Inventory</h2><br />
        <div data-ng-app="myApp" data-ng-controller="ItemController">

            <script type="text/ng-template" id="createmodal.html">
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Create an Item</h4>
                            </div>
                            <div class="modal-body">
                                <h5>Name:</h5>
                                <p><input type="text" data-ng-model="newItemName" /></p>
                                <h5>Quantity:</h5>
                                <p><input type="number" data-ng-model="newItemQuantity" /></p>
                                <h5>Description:</h5>
                                <p><input type="text" data-ng-model="newItemDesc" /></p>
                                <h5>Exp Date:</h5>
                                <p><input type="date" data-ng-model="newItemExp" /></p>
                                <h5>Location Number:</h5>
                                <p><input type="number" data-ng-model="newItemLocation" /></p>
                                <button data-ng-click="createItemFunc()">Create</button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                                <button type="button" data-ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </script>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-default" ng-click="showCreateModal()">Create</a>
                    </div>
                    <div class="col-md-4">
                        <label class="">Filter Items</label>
                        <input type="text" data-ng-model="filter" placeholder="Search here...">
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Location</th>
                            <th>Date Created</th>
                            <th>Expires</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="result in results | filter: filter">
                            <td>{{ result.Name }}</td>
                            <td>{{ result.Description }}</td>
                            <td>{{ result.Quantity }}</td>
                            <td>{{ result.LocationID }}</td>
                            <td>{{ result.Created }}</td>
                            <td>{{ result.Expires }}</td>
                            <td><button title="delete" type="button" data-ng-click="deleteItemFunc(result.ID)">Delete</button>
                            <button title="modify" type="button" data-ng-click="updateItemFunc()">Modify</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2017 Parker Folkman</p>
    </footer>

@section scripts{
    @Scripts.Render("~/Scripts/scripts.js")
    @Scripts.Render("~/bower_components/angular-modal-service/dst/angular-modal-service.js")
    @Scripts.Render("~/Scripts/services.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}